{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "import",
    "jsx-a11y"
  ],
  "extends": [
    "airbnb"
  ],
  "rules": {
    "max-len": [
      1,
      120,
      2,
      {
        "ignoreComments": true
      }
    ],
    "react/prop-types": [
      2
    ],
    "eslint linebreak-style": [
      0
    ]
  }
}