.wrapper {
    min-height: 400px;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.middle-row {
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-rigtht: 20px;
}

.table {
    flex: 5;
    min-height: 200px;
    max-width: 200px;
}

.player-left {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.player-right {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.row-container {
    display: flex;
    flex-direction: column;
}

.shrink {
    max-width: 30%;
}

.bottom-row {
    display: flex;
    flex-direction: row;
}

.player {
    margin: 20px;
}

.player-info {
    margin: 2px;
    padding: 0;
    align-self: flex-start;
}
